src/flows/LeadFlexipage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Schedule_Meeting_Alert</name>
        <label>Schedule Meeting Alert</label>
        <locationX>994</locationX>
        <locationY>691</locationY>
        <actionName>Event.Schedule_Meeting_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Sent</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_an_Event</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_General_Stage</name>
        <label>Assign General Stage</label>
        <locationX>92</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>General</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>General_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Stage</name>
        <label>Assign Review Stage</label>
        <locationX>702</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Time_And_Place_Stage</name>
        <label>Assign Time And Place Stage</label>
        <locationX>398</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_and_Place</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_and_Place_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_Set</name>
        <label>Is Email Set?</label>
        <locationX>825</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Schedule_Meeting_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead_Data.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Missing_Email_Screen</targetReference>
            </connector>
            <label>Email Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Email_Be_Sent</name>
        <label>Should Email Be Sent?</label>
        <locationX>595</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Finish_Without_Emal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Should_Be_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_invitation_email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Set</targetReference>
            </connector>
            <label>Email Should Be Sent</label>
        </rules>
    </decisions>
    <interviewLabel>LeadFlexipage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule a meeting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_an_Event</name>
        <label>Create an Event</label>
        <locationX>1004</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Change_Status_To_Meeting</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>Select_Duration.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <stringValue>{!Meeting_Address.city} {!Meeting_Address.street}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Meeting_Datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead_Data</name>
        <label>Get Lead Data</label>
        <locationX>95</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_General_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_To_Meeting</name>
        <label>Change Status To Meeting</label>
        <locationX>598</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Should_Email_Be_Sent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Meeting</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Email_Sent</name>
        <label>Email Sent</label>
        <locationX>823</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Email_Sent_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(41, 185, 94); font-size: 16px;&quot;&gt;Email has been sent to {!Get_Lead_Data.FirstName} successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Without_Emal</name>
        <label>Finish Without Emal</label>
        <locationX>409</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Other_Outcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(41, 198, 39); font-size: 16px;&quot;&gt;Meeting has been planned.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Screen</name>
        <label>General Screen</label>
        <locationX>241</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Time_And_Place_Stage</targetReference>
        </connector>
        <fields>
            <name>General_Progress_Stage</name>
            <extensionName>c:LeadProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Meeting_Lead_Person</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Meeting with: &lt;b&gt;{!Get_Lead_Data.FirstName} {!Get_Lead_Data.LastName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Email_Screen</name>
        <label>Missing Email Screen</label>
        <locationX>681</locationX>
        <locationY>784</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Missing_Email</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(205, 64, 64);&quot;&gt;This Lead&apos;s email is missing. Email Cannot be sent.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review Screen</label>
        <locationX>858</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_an_Event</targetReference>
        </connector>
        <fields>
            <name>Review_Progress_Stage</name>
            <extensionName>c:LeadProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_Review</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Subject: {!Subject}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;When: {!Meeting_Datetime}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Where: {!Meeting_Address.street} {!Meeting_Address.city}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Send_invitation_email</name>
            <dataType>Boolean</dataType>
            <fieldText>Send invitation email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_and_Place_Screen</name>
        <label>Time and Place Screen</label>
        <locationX>549</locationX>
        <locationY>267</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Review_Stage</targetReference>
        </connector>
        <fields>
            <name>General_Progress</name>
            <extensionName>c:LeadProgressBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Time_and_Place_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Meeting_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>$Organization.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Meeting Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>$Organization.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>$Organization.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>$Organization.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>$Organization.Country</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>General</name>
        <isActive>true</isActive>
        <label>General</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Review</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Time_and_Place</name>
        <isActive>true</isActive>
        <label>Time and Place</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>253</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>Get_Lead_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Invitation_Email_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Dear {!Get_Lead_Data.FirstName}, You have been invited to a meeting that will take place at {!Meeting_Address.street} {!Meeting_Address.city} at {!Meeting_Datetime}.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
